<!DOCTYPE html>
<html lang="en"  xmlns:th = "http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Order Summary</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
</head>
<body>
<nav class="navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#"><img src = "../img/logo1.jpg" width="150px" height="150px"></a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a th:href="@{/loginPage}"><b>Home</b></a></li>
            <li><a href="#"><b>About</b></a></li>
            <li><a th:href="@{/account}" class = "accountLink"><b>My Account</b></a></li>
        </ul>
    </div>
</nav>
<style>
  .accountLink {
    color: #D768C3 !important;
  }

  .navbar-right a{
    font-size:20px;
    color: black;
  }

  .navbar{
    padding-top:15px;
    padding-left:170px;
  }
  .navbar-header{
    padding-left:25px !important;
  }
  .new {
  color: white;
  text-align: center;
  }
  .pending {
  color: white;
  text-align: center;
  opacity: 0.6;
  }
  .completed{
  color: white;
  text-align: center;
  opacity: 0.6;
  }
  .col-lg-3 {
  background-color: #2F2F2F;
  float: left;
  padding: 20px;
  width: 200px;
  height: 600px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  margin-left: 150px;
  }

  .col-lg-9 {
  background-color: #F4F3F3;
  float: right;
  width: 1015px;
  padding: 10px;
  height: 600px;
  border-top-right-radius: 10px;
  padding-top: 50px;
  margin-right: 150px;
  }
 .button{
 align: center;
 }
</style>
<br><br><br><br><br><br>
<div class="container-fluid text-center">
    <div class="row">
        <div class="col-lg-3">
            <a th:href="@{/accountPage}">
                <h3 class="myAccount">MY ACCOUNT</h3>
            </a>
            <a th:href="@{/myOrdersPage}">
                <h3 class="myOrders">MY ORDERS </h3>
            </a>
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            <a th:href="@{/loginPage}">
                <h3 class="logOut">LOG OUT </h3>
            </a>
        </div>
        <div class="col-lg-9 text-center">
            <div class = "row">
                <div class = "col-md-4">
                    <table class="table table-condensed">
                        <thead>
                        <tr>
                            <th>Order Type</th>
                            <th>No of Pages</th>
                            <th>Paper Size</th>
                            <th>Print Type</th>
                            <th>Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each = "order : ${orders}">
                            <th th:text = "${order.orderType}"></th>
                            <th th:text = "${order.noOfPages}"></th>
                            <th th:text = "${order.paperSize}"></th>
                            <th th:text = "${order.printType}"></th>
                            <th>PENDING</th>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class = "col-md-4">
                    <table class="table table-condensed">
                        <thead>
                        <tr>
                            <th>Order Type</th>
                            <th>MugColor</th>
                            <th>No. of Mugs</th>
                            <th>Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each = "order : ${mugOrders}">
                            <th th:text = "${order.orderType}"></th>
                            <th th:text = "${order.mugColor}"></th>
                            <th th:text = "${order.noOfMug}"></th>
                            <th>PENDING</th>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class = "col-md-4">

                    <table class="table table-condensed">
                        <thead>
                        <tr>
                            <th>Order Type</th>
                            <th>Shirt Size</th>
                            <th>Print Type</th>
                            <th>No. of Shirts</th>
                            <th>Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each = "order : ${shirtOrders}">
                            <th th:text = "${order.orderType}"></th>
                            <th th:text = "${order.shirtSize}"></th>
                            <th th:text = "${order.printType}"></th>
                            <th th:text = "${order.noOfShirt}"></th>
                            <th>PENDING</th>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <a th:href="@{/orderType}" class = "button button-primary">ADD ORDER</a>
        </div>
    </div>
</div>
    </div>
</div>
</body>
</html>